@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-cultured: #f7f8fa;
    --color-imperial-blue: #111652;
    --color-blue-gray: #98a2b3;
    --color-light-gray: #d4d4d4;
    --font-display: "Inter", sans-serif;
}
